@use "sass:color";

$mainColor: #b6b2b2;
$secondaryColor: #918e8e;
$thirdColor: black;

body {
    background-color: $mainColor;
}

header {
    background-color: $secondaryColor;
}

footer {
    background-color: $thirdColor;
    color: color.invert($thirdColor);
}
// delete button style
.delete-button {
    ::content {
        content: "Delete";
    }
    background-color: red;
    color: white;
}